# build output
dist/
# generated types
.astro/

# test & coverage artifacts
coverage/
playwright-report/
test-results/
.cache/

# dependencies
node_modules/

# logs
*.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# IDE folders
.vscode/
.idea/
